<div flex layout="row" layout-align="center center">
<div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z5">
<md-content flex layout-padding >
    
	
	<h1> Why? </h1><br>
	<h4>It's everyday we have some leftovers at our homes, some food remaining after that party with grandeur, or that Big Fat wedding with
	    tonnes remaining.</h4> 
	<h4>With no apparent outlet, not knowing what to do with such food, we keep it long enough for it to rot over time and
		then sooner or later through it away.</h4>
	<h4>Now there are also people who scurry through the day without even a single meal.</h4>
	<h4>Many NGOs have been working hard to change that. They pick food from houses and restaurants and give them to the likes of orpahanages 
	    and other institutions of need. Even after their utmost efforts there's only so much they can do.</h4>
	<h4>*Enter FoodyLiaisons*</h4><br><br>
	
	<md-divider></md-divider><br><br>
	
	<h1> What is FoodyLiaisons? </h1><br>
	<h4>It is the conduit via which people who have excess or surplus food can help those who don't.</h4>
	<h4>What it does is, <strong>it finds out the NGOs in your vicinity and sorts them according to your physical distance.</strong></h4> 
	<h4>These NGOs will be working in alliance with FoodyLiaisons.</h4>  
	<h4>All you have to do is fill out the form and provide your details and an associate will come to your house and take the excess food.</h4>
	<h4>This food will then be delivered to the less fortunate.</h4>
	
   
</md-content>
</div>  
</div>