<div flex layout="row" layout-align="center center">
<div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z5">
<md-content class="md-padding">


<h3 class=".md-display-1">Showing <span class="label label-info">{{ locations.length }}</span> results :</h3>
<md-button ng-click="showall()" ui-sref="search" class="md-primary md-raised">Show All</md-button>
			<div ng-app="modalFormApp">
			<div ng-controller="modalAccountFormController">
			<div class="col-md-7 col-md-offset-2">

                <!-- LOOP OVER LOCATIONS-->
				<v-accordion class="vAccordion--default" multiple>
				<v-pane ng-repeat="location in locations" >
				<v-pane-header>
                 {{ ::location.name }}
                </v-pane-header>
				<v-pane-content>
				{{::location.description}}
				<br>{{::location.phone}}
				<br>{{::location.email}}&nbsp;&nbsp;
				<md-button ng-click="showForm()" class="md-raised md-warn">Send</md-button>
				</v-pane-content>
               </v-pane>
				</v-accordion>
				
				</div>
    </div>
				
				
				
            </div>
			
</md-content>			
</div>
</div>





